<section id="header">
  <div class="header container">
    <div class="nav-bar">
      <div class="brand">
        <a href="#hero">
          <h1><span>P</span>riyanshu <span>G</span>unwant</h1>
        </a>
      </div>
      <div class="nav-list">
        <div class="hamburger">
          <div class="bar"></div>
        </div>
        <ul>
          <li><a href="#hero" data-after="Home">Home</a></li>
          <li><a href="#services" data-after="Soft Skills">Soft Skills</a></li>
          <li>
            <a href="#services" data-after="Technical Skills"
              >Technical Skills</a
            >
          </li>
          <li><a href="#projects" data-after="Projects">Projects</a></li>
          <li><a href="#about" data-after="About">About Me</a></li>
          <li><a href="#contact" data-after="Contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
