<section id="footer">
  <div class="footer container">
    <div class="brand">
      <h1><span>P</span>riyanshu <span>G</span>unwant</h1>
      <div class="social-icon">
        <a href="https://github.com/priyanshugunwant101"
          ><i class="fab fa-4x fa-github"></i
        ></a>
        <a href="https://www.linkedin.com/in/priyanshu-gunwant-a459711b3/"
          ><i class="fab fa-linkedin"></i
        ></a>
      </div>
      <p>Copyright © 2021 Priyanshu. All rights reserved</p>
    </div>
  </div>
</section>
