<section id="about">
  <div class="about container">
    <div class="col-left">
      <div class="about-img">
        <img src="assets/img/Priyanshu (3).jpeg" alt="img" />
      </div>
    </div>
    <div class="col-right">
      <h1 class="section-title">About <span>me</span></h1>
      <h2>Front End Developer , Machine learning Enthusiast</h2>
      <p>
        I am Priyanshu Gunwant currently pursuing my btech degree in computer
        science and technology fom Maharaja Agrasen Institue Of Technology. My
        hobbies include playing cricket and football,listening to music and
        reading books. Ilove to code in python and have done my dta structures
        and algorithms in python . I have also done a course in machine learning
        and data science. I have done web development also and learned many
        things like HTML,CSS,JAVASCRIPT and some frameworks of javascript. I am
        a keen and enthusiastic learner.
      </p>
      <a href="#" class="cta">Download Resume</a>
    </div>
  </div>
</section>
