<section id="projects">
  <div class="projects container">
    <div class="projects-header">
      <h1 class="section-title"><span>Projects</span></h1>
    </div>
    <div class="all-projects">
      <div class="project-item">
        <div class="project-info">
          <h1>Project 1</h1>
          <h2>2048 Game Project</h2>
          <p>
            The objective of the game is to slide numbered tiles on a grid to
            combine them to create a tile with the number 2048; however, one can
            continue to play the game after reaching the goal, creating tiles
            with larger numbers.The 2048 is a game that is made using python
            data structures and algorithms. It uses many concepts of data
            structures
          </p>
        </div>
        <div class="project-img">
          <img src="assets/img/2048.png" alt="img" />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 2</h1>
          <h2>Voter Portal</h2>
          <p>
            It is basically a demo portal consisting of registration form for
            electorall roll.It is made using HTML and CSS.
          </p>
        </div>
        <div class="project-img">
          <img src="assets/img/voterportal.jpg" alt="img" />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 3</h1>
          <h2>Image Converter</h2>
          <p>
            It is a image converter which conters a coloured image into gray or
            sketched images. It includes many steps during the process. It is
            made using python.
          </p>
        </div>
        <div class="project-img">
          <img src="assets/img/img-1.png" alt="img" />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 4</h1>
          <h2>Blogging Website</h2>
          <p>
            A blog is a discussion or informational website published on the
            World Wide Web consisting of discrete, often informal diary-style
            text entries (posts). Posts are typically displayed in reverse
            chronological order, so that the most recent post appears first, at
            the top of the web page. It is made using HTML and CSS.
          </p>
        </div>
        <div class="project-img">
          <img src="assets/img/img-1.png" alt="img" />
        </div>
      </div>
    </div>
  </div>
</section>
