<section id="services">
  <div class="services container">
    <div class="service-top">
      <h1 class="section-title"><span>Soft Skills</span></h1>
      <p>
        I am good communicator and speaks fluent english.I keep a positive
        attitude towards everone.Whenever there is a difficult situations I can
        make decisions which proves to be right sometimes. I am flexible in my
        work too. I am workholic too.When given a chance of being team-leader i
        can do my best.
      </p>
    </div>
    <div class="service-top">
      <h1 class="section-title"><span>Technical Skills</span></h1>
    </div>
    <div class="service-bottom">
      <div class="service-item">
        <div class="icon">
          <img src="https://img.icons8.com/bubbles/100/000000/services.png" />
        </div>
        <h2>Web Development</h2>
        <p>
          Knows HTML,CSS and JAVASCRIPT and have studied the frameworks too.
        </p>
      </div>
      <div class="service-item">
        <div class="icon">
          <img src="https://img.icons8.com/bubbles/100/000000/services.png" />
        </div>
        <h2>Python</h2>
        <p>
          Have studied python basics along with data structures and algorithm
          too.
        </p>
      </div>
      <div class="service-item">
        <div class="icon">
          <img src="https://img.icons8.com/bubbles/100/000000/services.png" />
        </div>
        <h2>Machine learning</h2>
        <p>
          Studied different types of machine learning like supervise and
          unsupervised learning.
        </p>
      </div>
      <div class="service-item">
        <div class="icon">
          <img src="https://img.icons8.com/bubbles/100/000000/services.png" />
        </div>
        <h2>C++</h2>
        <p>
          Have studied python basics along with data structures and algorithm
          too.
        </p>
      </div>
    </div>
  </div>
</section>
